html {
  box-sizing: border-box;
}
*,
*:after {
  box-sizing: inherit;
}
/* globales*/
a {
  text-decoration: none;
  color: black;
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}
/*Header y navegacion*/
.nombre-sitio {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.nombre-sitio span {
  color: #037bc0;
}
.contenedor-navegacion {
  border-top: 1px solid #e1e1e1;
}
.nav-principal {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}
/** Categorias**/
.listado-categorias {
  display: grid;
}
